<div class="card" *ngIf="projectExist">
    <mat-card>
        <mat-card-header (click)="showEdit ? false : showDescription = !showDescription">
            <mat-card-title>
                Name: {{ project.name }}
            </mat-card-title>
            <mat-card-actions>
                <button mat-flat-button color="accent" (click)="toggleEdit($event)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-flat-button color="accent" (click)="delete()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card-header>
        <mat-divider *ngIf="showDescription || showEdit"></mat-divider>
        <mat-card-content *ngIf="showDescription || showEdit">
            <div *ngIf="showDescription">
                <div>
                    <b>Id:</b> {{ project.id }}
                </div>
                <div>
                    <b>Name:</b> {{ project.name }}
                </div>
                <div>
                    <b>Description:</b> {{ project.description }}
                </div>
                <div>
                    <b>Created At:</b> {{ project.createdAt | dateUkr}}
                </div>
                <div>
                    <b>Deadline:</b> {{ project.deadline | dateUkr}}
                </div>
                <div>
                    <b>Author Id:</b> {{ project.authorId }}
                </div>
                <div>
                    <b>Team Id:</b> {{ project.teamId }}
                </div>
            </div>
            <form [formGroup]="updateForm" (ngSubmit)="update()" *ngIf="showEdit">
                <div class="group-column">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <input matInput type="text" formControlName="description" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="group-line">
                    <mat-form-field appearance="fill">
                        <mat-label>Deadline</mat-label>
                        <input matInput formControlName="deadline" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Author id</mat-label>
                        <input matInput type="number" formControlName="authorId" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Team id</mat-label>
                        <input matInput type="number" formControlName="teamId" autocomplete="off">
                    </mat-form-field>
                    <button mat-flat-button color="accent" class="send-button" type="submit">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>