<div *ngIf="teamExist">
    <mat-card>
        <mat-card-header (click)="showEdit ? false : showDescription = !showDescription">
            <mat-card-title>
                Name: {{ team.name }}
            </mat-card-title>
            <mat-card-actions>
                <button mat-flat-button color="accent" (click)="toggleEdit($event)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-flat-button color="accent" (click)="delete()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card-header>
        <mat-divider *ngIf="showDescription || showEdit"></mat-divider>
        <mat-card-content *ngIf="showDescription || showEdit">
            <div *ngIf="showDescription">
                <div>
                    <b>Id:</b> {{ team.id }}
                </div>
                <div>
                    <b>Name:</b> {{ team.name }}
                </div>
                <div>
                    <b>Created At:</b> {{ team.createdAt | dateUkr}}
                </div>
            </div>
            <form [formGroup]="updateForm" (ngSubmit)="update()" *ngIf="showEdit">
                <div class="group-line">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name" autocomplete="off">
                    </mat-form-field>
                    <button mat-flat-button color="accent" class="send-button" type="submit">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>