<div class="page-header">
    <h1>All teams</h1>
</div>
<div class="error-message" *ngIf="errorToggle">
    <mat-icon color="primary">warning</mat-icon>
    <h1>{{errorMessage}}</h1>
</div>
<div class="thread-items" *ngIf="!errorToggle">
    <button mat-raised-button color="primary" class="add_button" (click)="addToggle = !addToggle">
        <mat-icon>add</mat-icon>
    </button>
    <mat-card *ngIf="addToggle">
        <mat-card-content>
            <form [formGroup]="addForm" (ngSubmit)="add()">
                <div class="group-line">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name" autocomplete="off">
                    </mat-form-field>
                    <button mat-flat-button color="accent" class="send-button" type="submit">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <team-item *ngFor="let team of teams" [team]="team" (onFormTouched)="onChanged($event)"></team-item>
</div>