@import '../theme';
@import '~@angular/material/theming';

$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

header{
    display: flex;
    justify-content: space-around;
    padding: 10px 20%;
    background-color: mat-color($primary);

    button{
        background-color: whitesmoke;
    }
}