<div *ngIf="userExist">
    <mat-card>
        <mat-card-header (click)="showEdit ? false : showDescription = !showDescription">
            <mat-card-title>
                Name: {{ user.firstName }} {{ user.lastName }}
            </mat-card-title>
            <mat-card-actions>
                <button mat-flat-button color="accent" (click)="toggleEdit($event)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-flat-button color="accent" (click)="delete()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card-header>
        <mat-divider *ngIf="showDescription || showEdit"></mat-divider>
        <mat-card-content *ngIf="showDescription || showEdit">
            <div *ngIf="showDescription">
                <div>
                    <b>Id:</b> {{ user.id }}
                </div>
                <div>
                    <b>First Name:</b> {{ user.firstName }}
                </div>
                <div>
                    <b>Last Name:</b> {{ user.lastName }}
                </div>
                <div>
                    <b>Email:</b> {{ user.email }}
                </div>
                <div>
                    <b>Birthday:</b> {{ user.birthday | dateUkr}}
                </div>
                <div>
                    <b>Reagistered At:</b> {{ user.registeredAt | dateUkr}}
                </div>
                <div>
                    <b>Team id:</b> {{ user.teamId }}
                </div>
            </div>
            <form [formGroup]="updateForm" (ngSubmit)="update()" *ngIf="showEdit">
                <div class="group-column">
                    <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" formControlName="firstName" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" formControlName="lastName" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="group-line">
                    <mat-form-field appearance="fill">
                        <mat-label>Birthday</mat-label>
                        <input matInput formControlName="birthday" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Team id</mat-label>
                        <input matInput type="number" formControlName="teamId" autocomplete="off">
                    </mat-form-field>
                    <button mat-flat-button color="accent" class="send-button" type="submit">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>