/* You can add global styles to this file, and also import other style files */
$default-font: Arial, Helvetica, sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: $default-font;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  display: flex; 
  flex-direction: column; 
  height: 100%;
}

html, body{ 
  height:100%; 
  margin:0; 
}

ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.thread-items{
  margin: 10px 10%;
}

.page-header{
  display: flex;
  justify-content: center;

  margin: 20px 0;
}

mat-card{
  margin: 20px 0;
}

mat-card-content{
  padding: 10px;
}

mat-card-header{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.add_button{
  width: 100%;
}

.group-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-card-actions{
  button{
    margin: 5px 10px;
  }
}

.error-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  .mat-icon{
    font-size: 100px;
    height: 100px;
    width: 100px;
  }
}

.send-button{
  height: 100%;
}