<div class="page-header">
    <h1>All users</h1>
</div>
<div class="error-message" *ngIf="errorToggle">
    <mat-icon color="primary">warning</mat-icon>
    <h1>{{errorMessage}}</h1>
</div>
<div class="thread-items" *ngIf="!errorToggle">
    <button mat-raised-button color="primary" class="add_button" (click)="addToggle = !addToggle">
        <mat-icon>add</mat-icon>
    </button>
    <mat-card *ngIf="addToggle">
        <mat-card-content>
            <form [formGroup]="addForm" (ngSubmit)="add()">
                <div class="group-column">
                    <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" formControlName="firstName" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" formControlName="lastName" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="group-line">
                    <mat-form-field appearance="fill">
                        <mat-label>Birthday</mat-label>
                        <input matInput formControlName="birthday" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Team id</mat-label>
                        <input matInput type="number" formControlName="teamId" autocomplete="off">
                    </mat-form-field>
                    <button mat-flat-button color="accent" class="send-button" type="submit">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <user-item *ngFor="let user of users" [user]="user" (onFormTouched)="onChanged($event)"></user-item>
</div>