<div class="card" *ngIf="taskExist">
    <mat-card>
        <mat-card-header (click)="showEdit ? false : this.showDescription = !this.showDescription">
            <mat-card-title>
                <mat-icon taskStateColor [taskState]="task.state">brightness_1</mat-icon>
                Name: {{ task.name }}
            </mat-card-title>
            <mat-card-actions>
                <button mat-flat-button color="accent" (click)="toggleEdit($event)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-flat-button color="accent" (click)="delete()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card-header>
        <mat-divider *ngIf="showDescription || showEdit"></mat-divider>
        <mat-card-content *ngIf="showDescription || showEdit">
            <div *ngIf="showDescription">
                <div>
                    <b>Id:</b> {{ task.id }}
                </div>
                <div>
                    <b>Name:</b> {{ task.name }}
                </div>
                <div>
                    <b>Description:</b> {{ task.description }}
                </div>
                <div>
                    <b>Created At:</b> {{ task.createdAt | dateUkr}}
                </div>
                <div>
                    <b>Finished At:</b> {{ task.finishedAt | dateUkr}}
                </div>
                <div>
                    <b>State:</b> {{ task.state | state}}
                </div>
                <div>
                    <b>Project Id:</b> {{ task.projectId }}
                </div>
                <div>
                    <b>Performer Id:</b> {{ task.performerId }}
                </div>
            </div>
            <form [formGroup]="updateForm" (ngSubmit)="update()" *ngIf='showEdit'>
                <div class="group-column">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <input matInput type="text" formControlName="description" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="group-line">
                    <mat-form-field appearance="fill">
                        <mat-label>Finished At</mat-label>
                        <input matInput formControlName="finishedAt" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <mat-select formControlName="state">
                            <mat-option *ngFor="let key of taskStateKeys" [value]="key">{{taskStates[key]}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Performer id</mat-label>
                        <input matInput type="number" formControlName="performerId" autocomplete="off">
                    </mat-form-field>
                    <button mat-flat-button color="accent" class="send-button" type="submit">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>