<div class="page-header">
    <h1>All projects</h1>
</div>

<div class="error-message" *ngIf="errorToggle">
    <mat-icon color="primary">warning</mat-icon>
    <h1>{{errorMessage}}</h1>
</div>

<div class="thread-items" *ngIf="!errorToggle">
    <button mat-raised-button color="primary" class="add_button" (click)="addProjectToggle = !addProjectToggle">
        <mat-icon>add</mat-icon>
    </button>
    <mat-card *ngIf="addProjectToggle">
        <mat-card-content>
            <form [formGroup]="newProjectForm" (ngSubmit)="add()">
                <div class="group-column">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <input matInput type="text" formControlName="description" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="group-line">
                    <mat-form-field appearance="fill">
                        <mat-label>Deadline</mat-label>
                        <input matInput formControlName="deadline" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Author id</mat-label>
                        <input matInput type="number" formControlName="authorId" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Team id</mat-label>
                        <input matInput type="number" formControlName="teamId" autocomplete="off">
                    </mat-form-field>
                    <button mat-flat-button color="accent" class="send-button" type="submit">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <project-item *ngFor="let project of projects" [project]="project" (onFormTouched)="onChanged($event)">
    </project-item>
</div>