<div class="page-header">
    <h1>All tasks</h1>
</div>
<div class="error-message" *ngIf="errorToggle">
    <mat-icon color="primary">warning</mat-icon>
    <h1>{{errorMessage}}</h1>
</div>
<div class="thread-items" *ngIf="!errorToggle">
    <tasks-of-project-list *ngFor="let project of projects" [project]="project" (onFormTouched)="onChanged($event)">
    </tasks-of-project-list>
</div>