<mat-card>
    <mat-card-header (click)="showDescription = !showDescription">
        <mat-card-title>
            Project: {{ project.name }}
        </mat-card-title>
    </mat-card-header>
    <mat-divider *ngIf="showDescription"></mat-divider>
    <mat-card-content *ngIf="showDescription">
        <div>
            <b>Id:</b> {{ project.id }}
        </div>
        <div>
            <b>Name:</b> {{ project.name }}
        </div>
        <div>
            <b>Description:</b> {{ project.description }}
        </div>
        <div>
            <b>Created At:</b> {{ project.createdAt | dateUkr}}
        </div>
        <div>
            <b>Deadline:</b> {{ project.deadline | dateUkr}}
        </div>
        <div>
            <b>Author Id:</b> {{ project.authorId }}
        </div>
        <div>
            <b>Team Id:</b> {{ project.teamId }}
        </div>
        <mat-divider></mat-divider>
        <div class="internal-add-button">
            <button mat-raised-button color="primary" class="add_button" (click)="addToggle = !addToggle">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <mat-card *ngIf="addToggle">
            <mat-card-content>
                <form [formGroup]="addForm" (ngSubmit)="add()">
                    <div class="group-column">
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" formControlName="name" autocomplete="off">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Description</mat-label>
                            <input matInput type="text" formControlName="description" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="group-line">
                        <mat-form-field appearance="fill">
                            <mat-label>Finished At</mat-label>
                            <input matInput formControlName="finishedAt" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="state">
                                <mat-option *ngFor="let key of taskStateKeys" [value]="key">{{taskStates[key]}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Performer id</mat-label>
                            <input matInput type="number" formControlName="performerId" autocomplete="off">
                        </mat-form-field>
                        <button mat-flat-button color="accent" class="send-button" type="submit">
                            <mat-icon>send</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

        <task-item *ngFor="let task of project.tasks" [task]="task" (onFormTouched)="formChangeState($event)">
        </task-item>
    </mat-card-content>
</mat-card>